body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
}

form {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

#budget {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#budget h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #333;
}

.budget-container {
    display: flex;
    flex-direction: column;
}

.total-budget,
.income-expense-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.total-budget {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.total-budget h3,
.expenses h3,
.incomes h3 {
    margin: 0;
    color: #555;
}

.total-budget p,
.expenses p,
.incomes p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.expenses,
.incomes {
    flex-basis: 48%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.expenses h3,
.incomes h3 {
    margin-bottom: 0.5rem;
}

.expenses p,
.incomes p {
    font-size: 1rem;
}

#reset-button {
    background-color: red;
    color: white;
    width: auto;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin-top: 1rem;
    align-self: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-button:hover {
    background-color: darkred;
}
